:root {
    --white: #ffffff;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

html {
    font-size: 62.5%;
}

.product-detail {
    width: 60%;
    padding: 1rem;
    font-size: 1.6rem;
}

.product-detail-close {
    background: var(--white);
    width: 3rem;
    height: 2rem;
    position: absolute;
    top: 3rem;
    left: 3rem;
    padding: 1.6rem;
    border-radius: 50%;
}

.product-detail-close img {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.product-detail-close:hover {
    cursor: pointer;
}

.product-info {
    margin: 24px 24px 0px;
}

.product-info p:nth-child(1) {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 0px;
    margin-bottom: 4px;
}

.product-info p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: 1.8rem;
    margin-top: 0px;
    margin-bottom: 36px;
}

.product-info p:nth-child(3) {
    color: var(--very-light-pink);
    margin-top: 0px;
    margin-bottom: 36px;
}

.product-detail-img img {
    width: 40rem;
    height: 30rem;
    border-radius: 10%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.primary-button {
    background-color: var(--hospital-green);
    border-radius: 10px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: bold;
    height: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.points {
    display: flex;
    justify-content: center;
}

.points>li {
    background: var(--very-light-pink);
    width: 8px;
    height: 8px;
    margin: 8px 6px;
    border-radius: 50%;
    list-style-type: none;
    cursor: pointer;
}

.points>.active {
    background: var(--hospital-green);
}

.points>li:hover {
    background: var(--hospital-green);
}