:root {
    --white: #ffffff;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

html {
    font-size: 62.5%;
}

.login {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    margin-top: 100px;
}

.form-container {
    display: grid;
}

.logo {
    width: 300px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
}

.subtitle {
    color: var(--very-light-pink);
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 5px;
    height: 30px;
    font-size: 1.6rem;
    padding: 10px;
    margin-bottom: 20px;
}

.primary-button {
    background-color: var(--hospital-green);
    border-radius: 10px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: bold;
    height: 50px;
}