:root {
    --white: #ffffff;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

html {
    font-size: 62.5%;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 30px;
}

.product-card {
    width: 250px;
}

.product-card img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}