:root {
    --white: #ffffff;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

html {
    font-size: 62.5%;
}

nav {
    display: flex;
    margin-bottom: 3rem;
    margin-top: 2rem;
    padding: 0 2rem 2rem;
    justify-content: space-between;
    border-bottom: 0.1rem solid var(--very-light-pink);
}

.navbar-left {
    display: flex;
    font-size: 1.6rem;
}

.navbar-left ul,
.navbar-right ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    color: var(--black);
    border: 1px solid var(--white);
    padding: 1rem;
    border-radius: 1.5rem;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
    text-decoration: none;
    color: var(--hospital-green);
    border: 0.1rem solid var(--hospital-green);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar-left,
.navbar-email {
    display: none;
}

.navbar-email {
    font-size: 1.6rem;
    margin-right: 3rem;
}

.navbar-shopping-cart {
    position: relative;
}

.navbar-shopping-cart div {
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
    top: -6px;
    right: -3px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    gap: 30px;
    place-content: center;
}

.product-card {
    width: 150px;
}

.product-card img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    object-fit: cover;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--text-input-field);
    border-radius: 15px;
    margin-top: 1rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: 1.6rem;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    margin-left: 1.5rem;
}

.product-info div p:nth-child(2) {
    font-size: 1.4rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    color: var(--dark);
    margin-left: 1.5rem;
}

.product-info figure img {
    width: 35px;
    height: 35px;
    margin-right: 1rem;
}