:root {
    --white: #ffffff;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

html {
    font-size: 62.5%;
}

.navbar-logo {
    width: 15rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.navbar-email {
    display: flex;
}

.navbar-left {
    display: none;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 30px;
}

.product-card {
    width: 200px;
}

.product-card img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
}