* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 90vw;
    max-width: 300px;
    min-height: 450px;
    box-shadow: 1px 0px 8px 1px rgba(0, 0, 0, 0.62);
    border-radius: 15px;
    margin: 70px auto;
}